body.factitime {
    width: 400px;
}

.left img {
    margin: 0 auto;
    display: block;
}

.overtime {
    color: limegreen;
}

.no-overtime {
    color: red;
}

#factitime-work-time h4, #factitime-work-time p{
    display: inline;
}

#factitime-balance h4 {
    margin-top: 0;
}

#factitime-work-time hr {
    margin: 5px 0;
}