<!doctype html>
<html>
<head>
    <title>Friendly ActiTime</title>

    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/underscore.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="lib/mustache.min.js"></script>

    <script type="text/javascript" src="lib/backbone.js"></script>
    <script type="text/javascript" src="lib/backbone.marionette.min.js"></script>

    <script type="text/javascript" src="js/model/optionsModel.js"></script>
    <script type="text/javascript" src="js/model/balanceModel.js"></script>
    <script type="text/javascript" src="js/model/projectsModel.js"></script>
    <script type="text/javascript" src="js/model/workTimeModel.js"></script>
    <script type="text/javascript" src="js/model/formModel.js"></script>

    <script type="text/javascript" src="js/navbar/navbarView.js"></script>

    <script type="text/javascript" src="js/view/fillOptionsMessageView.js"></script>
    <script type="text/javascript" src="js/view/loggedOutMessageView.js"></script>
    <script type="text/javascript" src="js/view/balanceView.js"></script>
    <script type="text/javascript" src="js/view/projectsView.js"></script>
    <script type="text/javascript" src="js/view/startTimeView.js"></script>
    <script type="text/javascript" src="js/view/stopTimeView.js"></script>
    <script type="text/javascript" src="js/view/loggedWorkView.js"></script>
    <script type="text/javascript" src="js/view/logWorkButtonView.js"></script>

    <script type="text/javascript" src="js/controller/projectsController.js"></script>
    <script type="text/javascript" src="js/controller/formController.js"></script>
    <script type="text/javascript" src="js/controller/BalanceLoader.js"></script>
    <script type="text/javascript" src="js/controller/BalanceController.js"></script>

    <script type="text/javascript" src="js/timeUtils.js"></script>
    <script type="text/javascript" src="js/popup.js"></script>
    <script type="text/javascript" src="analytics/analytics.js"></script>
</head>

<body class="factitime">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div id="factitime-navbar"></div>
            <script type="text/template" id="factitime-navbar-tpl">
                <a class="navbar-brand" href="{{actitimeUrl}}" tabindex="-1">Factitime ({{userName}})</a>
            </script>
        </div>
    </div>
</nav>

<div class="container">

    <div id="popup-content">
        <div id="message-logged-out"></div>
    </div>
    <div>
        <div id="message-bad-server-url"></div>
    </div>
    <div class="alert alert-success" role="alert" id="message" style="display: none;">
        <button ng-show="alert.closeable" type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        Your changes were successfully saved.
    </div>

    <script type="text/template" id="factitime-message-warn">
        <div class="alert alert-warning" role="alert" style="display: none">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Warning:</span>
            {{{message}}}
        </div>
    </script>

    <script type="text/template" id="factitime-balance-template">
        <h4>
            Balance: <span id="factitime-container" class="{{cls}}">{{balance}}</span>
        </h4>
    </script>

    <script type="text/template" id="factitime-projects-template">
        <label class="control-label col-sm-3" for="project-selector">Project</label>
        <div class="col-sm-9">
            <select class="form-control" id="project-selector">
                {{#projects}}
                <option value="{{value}}">{{text}}</option>
                {{/projects}}
            </select>
        </div>
    </script>
    <script type="text/template" id="factitime-start-time-template">
        <label class="control-label col-sm-3" for="start">Start</label>

        <div class="col-sm-9">
            <input type="time" class="form-control" name="startTime" id="start" step="300" value="{{startTime}}"/>
        </div>
    </script>
    <script type="text/template" id="factitime-stop-time-template">
        <label class="control-label col-sm-3" for="stop">Stop</label>
        <div class="col-sm-9">
            <select type="time" class="form-control" name="stopTime" id="stop">
                {{#stopTimes}}
                <option value="{{value}}" {{#selected}}selected{{/selected}}>{{text}}</option>
                {{/stopTimes}}
            </select>
        </div>
    </script>

    <script type="text/template" id="factitime-work-time-template">
        <h4><span class="done">{{loggedTime}}</span>h</h4>
        <p> logged today.</p>

        <h4><span class="toBeDone">{{toBeLoggedTime}}</span>h</h4>
        <p> to be logged.</p>

        <hr/>
        <h4><span class="doneSum">{{sumToBeLogged}}</span>h</h4>
        <p> worked today.</p>

    </script>

    <script type="text/template" id="factitime-log-work">
        <div>
            <button type="submit" class="log-work btn btn-default btn-lg">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Log this work
            </button>
        </div>
    </script>

    <div class="row">
        <div class="col-sm-6">
            <form class="form-horizontal" role="form">
                <div class="form-group" id="start-time"></div>
                <div class="form-group" id="stop-time"></div>
                <div class="form-group" id="projects"></div>
            </form>
        </div>
        <div class="col-sm-6">
            <div id="factitime-balance"></div>
            <div id="factitime-work-time"></div>
            <br/>
            <div class="form-group" id="log-work-time"></div>
        </div>
    </div>
    <div id="factitime-form" name="actitime-form" style="display: none"></div>

</div>

</body>
</html>


